
/* CSS Document */
body{
	margin: auto;
	padding: 0;
	font-family: "Microsoft Yahei";
	min-width: 1000px;
	font-size: 14px;
	background-color: #f7f7f7;
	background-image: url(top_banner.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	
}
h2, p, h3, h4, ul{margin:0px; padding:0px; font-weight:normal;}
li{ list-style:none;}
img{ border:0px;}
.clear{ clear:both; height:0px;}
.right{ float:right;}
*[hidden]{ display:none;}

.top{width:1000px;margin:auto;margin-top:10px;overflow:hidden; height:300px}
.top .logo{float:left;}
.top h2{float:left;margin-left:45px;font-size:48px;color:#005cb3;margin-top:32px;}
.top h3{
	float: left;
	margin-left: 178px;
	font-size: 22px;
	color: #005cb3;
	margin-top: 14px;
}
.top h4{
	float: left;
	margin-left: 197px;
	font-size: 22px;
	margin-top:11px;
	color: #005cb3
}
.head{height:89px;width:1000px;background:url(http://union.visitxm.com//css/20160420_head.png) no-repeat;margin:auto;margin-top:10px;}
.foot{width:1000px;margin:auto;border-top:5px solid #d5d5d5;padding:10px 0px;background:#fff;}
.foot p{text-align:center;font-size:13px;line-height:24px;color:#636363;}

.local{height:30px;border-bottom:1px solid #dddddd;}
.local span{padding-left:20px;background:url(http://union.visitxm.com//css/20160420_home.png) no-repeat left center;font-weight:bold;}

.page{margin-top:40px;text-align:center;}
.page a{padding:2px 4px;border:1px solid #dddddd;color:#6a6a6a;margin:0px 5px;}
.page a.hover{border:0px;text-decoration:none;color:#ff8800;}
.page span input{width:20px;margin:0px 5px;}
